<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenSaver.View.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenSaver.View.Settings>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value />
            </setting>
            <setting name="WordMode" serializeAs="String">
                <value>0</value>
            </setting>
        </ScreenSaver.View.Settings>
    </userSettings>
</configuration>